@import "../../styles/main.scss";
@import "../../styles/mixins";

// .alerts-page {
//     height: 100%;
// }
// .dialog-content {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: flex-start;
//     column-gap: 16px;
//     padding: 16px;

//     .side-content {
//     }

//     .main-content {
//     }
// }
.alerts-page {
    .alert-box-and-cam-view {
        position: relative;

        .alert-box {
            position: absolute;
            bottom: 112%;
            left: -50%;
        }
    }
}

.dialog-content {
    @include flex-row();
    align-items: flex-start;
    height: 100%;
    overflow: hidden;

    .side-content {
        width: 340px;
        overflow-y: auto;
    }

    .main-content {
        width: calc(100% - 340px);
        color: white;
    }
}
