@import "../../styles/main.scss";

.pin {
    position: relative;

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 28px;
        font-size: $font-size-large;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
